body {
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.content {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
img {
  max-width: 10%;
  margin-top: -10px;
  height: auto;
}
#navButtons {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center; /* Center-align buttons */
  position: relative;
}
.hidden {
  display: none; /* Initially hide the hidden links container */
  flex-direction: column; /* Set the flex-direction to column for vertical layout */
  position: absolute;
  top: 100%; /* Position it just below the "More" button */
  left: 0;
  background-color: gold;
  z-index: 1; /* Ensure it appears above other content */
}
.visible {
  display: flex; /* Show the hidden container when it has the "visible" class */
}
.navButton {
  text-decoration: none;
  background-color: gold;
  color: black;
  border: none;
  font-size: 25px;
  border-radius: 20px; /* Add rounded corners */
  padding: 10px 20px; /* Adjust padding to control button width */
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Add transition for hover effect */
  white-space: nowrap;
  width: 300px;
}
.navButton:hover {
  background-color: lightyellow;
  transform: scale(1.05); /* Slightly enlarge on hover */
}
#videoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Make the video container span the full width */
}
#leftVideo,
#rightVideo {
  flex: 1;
  margin: 0 25px; /* Add some spacing between videos and buttons */
  margin-top: -50px;
}
#leftVideo h1,
#rightVideo h1 {
  color: #fdff8b;
}
footer {
  margin-top: 10px;
}

@media (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  #videoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 100%;
  }
  #leftVideo,
  #rightVideo {
    margin: 0 25px;
  }
}
