body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #262626;
    /* Set the background color for the whole page */
}
/* Style for the header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #262626;
    color: #fff;
    position: relative; /* Add position relative to enable absolute positioning of the mobile-toggle */
}

#logo {
    max-width: 250px;
    /* Make the logo size half (75px) */
}

/* Style the first column of nav-buttons */
#nav-column1 {
    text-align: center;
    float: left;
    width: 75%;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd106;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
}

.nav-button:hover {
    background-color: #fff8bb;
    transform: scale(1.1); /* Add a slight scale (growth) effect on hover */
}


#content {
    display: flex;
    padding: 10px;
    /* Add padding to the content */
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#text {
    flex: 1;
    padding-right: 50px;
    color: #ffe101;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#text p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

#images-container {
    flex: 1;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.slideshow-container {
    position: relative;
    max-width: 100%;
}

.slideshow {
    display: none;
    width: 100%;
    /* Set a fixed width for the images */
    height: 400px;
    /* Allow the height to adjust based on the width */
}

.slideshow.active {
    display: block;
}

.next-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 48.5%;
    right: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 95%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.next-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

.previous-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 48.5%;
    left: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 95%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.previous-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

/* CSS for the scroll-section */
#scroll-section {
    text-align: center;
    margin: 50px 0px;
    position: relative;
}

.scroll-line {
    width: 100%;
    height: 100px;
    background-color: #FFA500; /* Orange color for the line */
}

/* CSS for the scroll-arrow with hover effect */
.scroll-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: #a26a00; /* Orange color for the circle */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Add transitions for smooth hover effect */
}

/* Hover effect */
.scroll-arrow:hover {
    background-color: #FFD700; /* Lighter color on hover */
    transform: translate(-50%, -50%) scale(0.9); /* Slightly shrink on hover */
}

.scroll-arrow span {
    font-size: 150px;
    color: #fff; /* White color for the arrow */
}

#centurian-section {
    /* CSS for the centurian-section */
    text-align: center;
    color: #ffe101;
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 10px;
    /* 10px margin around the section */
    padding: 20px;
    /* Padding for the section content */

}

#centurian-section-heading {
    padding-left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#centurian-section p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

#mma-content {
    display: flex;
    padding: 10px;
    /* Add padding to the content */
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#mma-text {
    flex: 1;
    padding-right: 50px;
    color: #ffe101;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#mma-text p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

.mma-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffd106;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}

.mma-button:hover {
    background-color: #fff8bb;
    transform: scale(1.1); /* Add a slight scale (growth) effect on hover */
}

#mma-images-container {
    flex: 1;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.mma-slideshow-container {
    position: relative;
    max-width: 100%;
}

.mma-slideshow {
    display: none;
    width: 100%;
    /* Set a fixed width for the images */
    height: 440px;
    /* Allow the height to adjust based on the width */
}

.mma-slideshow.active {
    display: block;
}

.mma-next-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.mma-next-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

.mma-previous-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.mma-previous-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

#boxing-content {
    display: flex;
    padding: 10px;
    /* Add padding to the content */
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#boxing-text {
    flex: 1;
    padding-right: 50px;
    color: #ffe101;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#boxing-text p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

.boxing-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffd106;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}

.boxing-button:hover {
    background-color: #fff8bb;
    transform: scale(1.1); /* Add a slight scale (growth) effect on hover */
}

#boxing-images-container {
    flex: 1;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.boxing-slideshow-container {
    position: relative;
    max-width: 100%;
}

.boxing-slideshow {
    display: none;
    width: 100%;
    /* Set a fixed width for the images */
    height: 440px;
    /* Allow the height to adjust based on the width */
}

.boxing-slideshow.active {
    display: block;
}

.boxing-next-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.boxing-next-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

.boxing-previous-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.boxing-previous-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

#pt-content {
    display: flex;
    padding: 10px;
    /* Add padding to the content */
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#pt-text {
    flex: 1;
    padding-right: 50px;
    color: #ffe101;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#pt-text p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

.pt-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffd106;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}

.pt-button:hover {
    background-color: #fff8bb;
    transform: scale(1.1); /* Add a slight scale (growth) effect on hover */
}

#pt-images-container {
    flex: 1;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.pt-slideshow-container {
    position: relative;
    max-width: 100%;
}

.pt-slideshow {
    display: none;
    width: 100%;
    /* Set a fixed width for the images */
    height: 440px;
    /* Allow the height to adjust based on the width */
}

.pt-slideshow.active {
    display: block;
}

.pt-next-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.pt-next-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

.pt-previous-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.pt-previous-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

#tv-content {
    display: flex;
    padding: 10px;
    /* Add padding to the content */
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#tv-text {
    flex: 1;
    padding-right: 50px;
    color: #ffe101;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#tv-text p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

.tv-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffd106;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}

.tv-button:hover {
    background-color: #fff8bb;
    transform: scale(1.1); /* Add a slight scale (growth) effect on hover */
}

#tv-images-container {
    flex: 1;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.tv-slideshow-container {
    position: relative;
    max-width: 100%;
}

.tv-slideshow {
    display: none;
    width: 100%;
    /* Set a fixed width for the images */
    height: 440px;
    /* Allow the height to adjust based on the width */
}

.tv-slideshow.active {
    display: block;
}

.tv-next-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.tv-next-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

.tv-previous-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.tv-previous-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

#fightwear-content {
    display: flex;
    padding: 10px;
    /* Add padding to the content */
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#fightwear-text {
    flex: 1;
    padding-right: 50px;
    color: #ffe101;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#fightwear-text p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

.fightwear-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffd106;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}

.fightwear-button:hover {
    background-color: #fff8bb;
    transform: scale(1.1); /* Add a slight scale (growth) effect on hover */
}

#fightwear-images-container {
    flex: 1;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.fightwear-slideshow-container {
    position: relative;
    max-width: 100%;
}

.fightwear-slideshow {
    display: none;
    width: 100%;
    /* Set a fixed width for the images */
    height: 440px;
    /* Allow the height to adjust based on the width */
}

.fightwear-slideshow.active {
    display: block;
}

.fightwear-next-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.fightwear-next-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

.fightwear-previous-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.fightwear-previous-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

#challenge-content {
    display: flex;
    padding: 10px;
    /* Add padding to the content */
    background-color: rgba(0, 0, 0, 0.527);
    /* Light gray semi-transparent background */
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#challenge-text {
    flex: 1;
    padding-right: 50px;
    color: #ffe101;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#challenge-text p {
    color: #fcf6c5;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    font-size: 18px;
}

.challenge-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffd106;
    color: #000000;
    text-decoration: none;
    margin: 4px;
    transition: background-color 0.3s;
    transition: transform 1s;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
}

.challenge-button:hover {
    background-color: #fff8bb;
    transform: scale(1.1); /* Add a slight scale (growth) effect on hover */
}

#challenge-images-container {
    flex: 1;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.challenge-slideshow-container {
    position: relative;
    max-width: 100%;
}

.challenge-slideshow {
    display: none;
    width: 100%;
    /* Set a fixed width for the images */
    height: 440px;
    /* Allow the height to adjust based on the width */
}

.challenge-slideshow.active {
    display: block;
}

.challenge-next-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.challenge-next-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

.challenge-previous-button {
    background-color: transparent;
    /* Transparent background */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    /* Position on the right side */
    transform: translateY(-50%);
    /* Adjust vertical position */
    padding: 30px;
    cursor: pointer;
    width: 40px;
    border: none;
    /* Set a fixed width */
    height: 100%;
    /* Set a fixed height */
    text-align: center;
    border-radius: 0;
    /* Remove border-radius on hover */
}

.challenge-previous-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    /* Semi-transparent grey on hover */
}

#footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.527);
    color: #ffe101;
    padding: 10px 0;
}

#footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-copyright {
    margin-right: 10px;
}

/* Grid layout for footer columns and rows */
#footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns */
    grid-template-rows: repeat(3, 1fr);
    /* Five rows */
    gap: 4px;
    padding: 15px;
}

/* Hover effect for the clickable footer buttons */
.footer-item {
    background-color: #ffd106;
    /* Light gray semi-transparent background */
    padding: 10px;
    text-align: center;
    color: #000000;
    display: inline-block; /* Display as inline-block for proper button appearance */
    text-decoration: none;
    margin: 2px;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s, transform 1s;
}

/* Hover effect for the footer buttons */
.footer-item:hover {
    background-color: #ffe956; /* Slightly lighter color on hover */
}

#image-circles {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.image-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(179, 181, 150);
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between circles */
    cursor: pointer;
    transition: background-color 1s;
}

/* Style the active circle */
.image-circle.active {
    background-color: #fbff00;
}

#mma-image-circles {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.mma-image-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(179, 181, 150);
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between circles */
    cursor: pointer;
    transition: background-color 1s;
}

/* Style the active circle */
.mma-image-circle.active {
    background-color: #fbff00;
}

/* Style the active circle */
.boxing-image-circle.active {
    background-color: #fbff00;
}

#boxing-image-circles {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.boxing-image-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(179, 181, 150);
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between circles */
    cursor: pointer;
    transition: background-color 1s;
}

/* Style the active circle */
.pt-image-circle.active {
    background-color: #fbff00;
}

#pt-image-circles {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.pt-image-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(179, 181, 150);
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between circles */
    cursor: pointer;
    transition: background-color 1s;
}

/* Style the active circle */
.tv-image-circle.active {
    background-color: #fbff00;
}

#tv-image-circles {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.tv-image-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(179, 181, 150);
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between circles */
    cursor: pointer;
    transition: background-color 1s;
}

/* Style the active circle */
.fightwear-image-circle.active {
    background-color: #fbff00;
}

#fightwear-image-circles {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.fightwear-image-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(179, 181, 150);
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust spacing between circles */
    cursor: pointer;
    transition: background-color 1s;
}